@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Silkscreen:wght@700&display=swap');

html {
  background:#aaa;
  font-family: 'DotGothic16', sans-serif;


}

.container, .header {
  width:100%;
  max-width:800px;
  margin:0 auto;
  background:#fff;
  padding:1em;
}

.header h2{
  text-align:center;
  font-family: 'Silkscreen', cursive;


}

.projects {
  display: flex;
  flex-direction: row;
  background:#aaa;
  padding:1em;
}

.pItem {
  width:100%;
  height:200px;
  max-width:200px;
  background-image:url('https://i.gyazo.com/d02bc4d43d590d933a116c319515cc03.png');
  background-repeat:no-repeat;
  background-size: contain; 
  text-align:center;
  margin-top:4em;
}

.pItem img {
  width:100%;
  max-width:150px;
}

@media (max-width: 800px) {
  .projects{
    flex-direction: column;
  }
  .pItem {
    max-width:100%;
  }
}