
#container{
width:100%;
margin:0 auto;
padding:0;
display:flex;
flex-wrap: wrap;
justify-content:center;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
   box-shadow:2px 2px 1px rgba(0,0,0,0.2);
}

.showcase{
   margin:1em;
   padding-bottom:1em;
   width:100%;
   max-width:33%;
}

@media (max-width:800px) {
	.showcase{
		max-width:66%;
	}
}

@media (max-width:400px) {
	.showcase{
		max-width:100%;
	}
}

.artwork{
   width:100%;
   position:relative;
   z-index:-1;
}

.credit{
   font-family: matchupPro, 'Open Sans', 'Helvetica Neue', sans-serif;
   text-align:center;
   font-size:1.1em;
   font-weight:bolder;
}

a {
   text-decoration:none;
}

a:hover {
	text-decoration:underline;
}}